<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

        {{#link-to 'index' }}<a class="navbar-brand" href="">Logo</a>{{/link-to}}
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">

        {{#link-to 'index' tagName="li"}}<a href="">Home</a>{{/link-to}}
 {{#link-to 'libraries' tagName="li"}}<a href="">Libraries</a>{{/link-to}}

 {{#link-to 'contact' tagName="li"}}<a href="">Contact</a>{{/link-to}}
 {{#link-to 'about' tagName="li"}}<a href="">About</a>{{/link-to}}

      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
            Admin<span class="caret"></span>
          </a>
          <ul class="dropdown-menu">
          {{#link-to 'admin.invitations' tagName="li"}}<a href="">Subscribers</a>{{/link-to}}
          {{#link-to 'admin.feedbacks' tagName="li"}}<a href="">Feedbacks</a>{{/link-to}}

          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>

{{outlet}}
