<div class="container" style="padding-top: 20px">

<div class="well" style=" margin-bottom: 0px !important">
  <ul class="nav nav-pills">
    {{#link-to 'libraries.index' tagName="li"}}<a href="">List all</a>{{/link-to}}
    {{#link-to 'libraries.new' tagName="li"}}<a href="">Add new</a>{{/link-to}}

  </ul>
</div>

{{outlet}}
</div>
